# .env fayli — bu faylni GitHub ga yuklamang!

# Telegram bot tokeni (@BotFather dan oling)
BOT_TOKEN=8012788722:AAGP9BOM7EAzZ40upGkGxBWLJ7VGKiwGuRk

# Sizning Telegram ID ingiz (admin uchun)
# ID ni bilish uchun @userinfobot ga /start yuboring
ADMIN_ID=7747890249

# Ma'lumotlar bazasi fayli
DB_PATH=bot_data.db
